@page
@model WebAppCRUD.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Все задачи";
}

<h1>Все задачи</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Создать задачу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Times)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Times)
            </td>
            <td>
                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> 
                    <a class="btn btn-success" asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> 
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
